<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>wsdl</servlet-name>
        <servlet-class>com.definesys.demo.servlet.WsdlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee</servlet-name>
        <servlet-class>com.definesys.demo.servlet.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wsdl</servlet-name>
        <url-pattern>/ws/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee</servlet-name>
        <url-pattern>/ws/employee-detail</url-pattern>
    </servlet-mapping>
</web-app>